on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
          bundler: latest
          rubygems: latest

      - name: Run rubocop
        run: bundle exec rubocop --format github

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
          [
            "3.4",
            "3.3",
            "3.2",
            "3.1",
            "jruby-10.0.0.1", # The latest JRuby release does not work with prism
            "jruby-head", # should be fixed in the 10.0.3.0 release.
            "head",
          ]
      fail-fast: false

    env:
      GOOGLE_TRANSLATE_API_KEY: ${{ secrets.GOOGLE_TRANSLATE_API_KEY }}
      COVERAGE: 1
      RUBYOPT: "--enable-frozen-string-literal --debug-frozen-string-literal"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: ${{ matrix.ruby-version != 'head' }}
          bundler: latest
          rubygems: latest
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake
